@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #424247;
}

/* header style start */
header {
    width: 90vw;
    margin: 50px auto;
}

main {
    width: 90vw;
    margin: 50px auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 100%;

}

.logo-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.Travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-menu {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: var(--primary-color, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.home {
    color: #FF5400;
    font-weight: 400;
}

/* header style end */

/* banner style start  */


.banner-container {
    background-image: url('Images/Group-13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;

}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding: 100px 200px 20px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 200px 40px;
}

.btn {
    display: inline-flex;
    width: 70vw;
    padding: 16px;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    margin-bottom: 100px;
    background: rgba(255, 255, 255, 0.30);

}


.banner-input {
    padding: 16px 40px 16px 16px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 25%;

}

#banner-input {
    padding: 16px 40px 16px 16px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 25%;
}

.search {
    padding: 16px 16px 16px 40px;
    width: 25%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-weight: 700;
    margin: 10px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    position: relative;
}

.fa-solid {
    position: absolute;
    top: 18px;
    left: 35px;

}


/* banner style end */

/* popular style start  */
.popular-tour-container {
    display: grid;
    width: 90vw;
    margin: 100px auto;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.tour-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.left-part ul {
    margin-left: 20px;
    color: rgba(19, 19, 24, 0.70);
}

.left-part li {
    margin-bottom: 15px;
}

.left-part button {
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 30px;
    border: none;
}

/* popular style end */
.destination-container {
    margin-bottom: 50px;
}

/* destination style start  */
.destination-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 50px;
    font-weight: 800;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 70%;
    margin: 20px auto 30px;
}

.row,
.row-3,
.row-4,
img {
    width: 100%;
    height: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.row-3 {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    gap: 20px;
    margin-top: 15px;

}

.row-4 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    margin-top: 15px;
}


/* destination style end */


/* choose us style start */
.card {
    display: flex;
    gap: 20px;
}

.card img {
    width: 64px;
    height: 64px;
}

.card-3 img {
    width: 64px;
    height: 64px;
}

.choose-three {
    width: 50%;
    margin: 20px auto;
}

.choose-one,
.choose-two,
.choose-three {
    padding: 30px 40px 30px 30px;
}

.choose-one {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);


}

.choose-two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-three {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin: 15px 0;
}

.choose-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-weight: 400;
    line-height: 26px;
}

/* choose us style end */


/* newsletter style start  */

.newsletter-container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 20px;
    margin: 100px 0;
}

.login-part {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0 20px 0;
}

hr {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter-container input[type="text"] {
    margin: 20px 0 15px 0;
    padding: 15px 150px 15px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.newsletter-container input[type="email"] {
    margin: 15px 0 20px 0;
    padding: 15px 150px 15px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.login-part button {
    padding: 14px 130px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.img-part {
  
    border-radius: 16px;
    position: relative;
}

.inner {
    border-radius: 16px;
    background: #FF5400;
    width: 60%;
    height: 120px;
    transform: rotate(-19.628deg);
    position: absolute;
    top: 248px;
    left: 203px;
}

.inner-title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
}

.subtitle {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

/* newsletter style end  */



/* responsive style */

@media screen and (max-width: 600px) {

    /* header responsive */
    .container {
        flex-direction: column;

    }

    .header-logo {
        justify-content: center;
    }

    .header-menu ul li a {
        margin-right: 15px;
    }


    /* banner responsive */
    .banner-container {
        width: 90vw;
    }

    .banner-title {
        padding: 20px 40px;
        font-size: 22px;
    }

    .banner-description {
        padding: 0px 15px 30px;
    }

    .btn {
        display: flex;
        width: 70vw;
        padding: 16px;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .btn-container {
        padding: 30px;
    }

    .search {
        position: relative;
    }

    .fa-solid {
        position: absolute;
        top: 18px;
        left: 150px;

    }

    .banner-input,
    .search,
    #banner-input {
        width: 100%;
    }

    /* popular-tour-responsive  */
    .popular-tour-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-part img {
        width: 90vw;
        margin: 0 auto;
    }

    /* destination section respobsive */
    .row,
    .row-3,
    .row-4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-title {
        font-size: 30px;
        margin-top: 0;
    }

    .destination-description {
        max-width: 80%;
        margin: 20px auto 30px;
    }

    /* choose section responsive */
    .card {
        flex-direction: column;
    }

    .choose-three {
        width: 100%;
    }

    /* newsletter section responsive */
    .newsletter-container {

        grid-template-columns: repeat(1, 1fr);

    }
    .login-part button {
        padding: 14px 100px;
    }
    .inner{
        width: 50%;
        top: 150px;
        left: 200px;
    }
    .subtitle, .inner-title {
        font-size: 20px;
    }






}