@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #424247;
}

/* header style start */
header {
    width: 90vw;
    margin: 50px auto;
}
.container {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 100%;

}

.logo-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.Travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-menu {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: var(--primary-color, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.home {
    color: #FF5400;
    font-weight: 400;
}
/* header style end */

/* banner style start  */


.banner-container {
    background-image: url('Images/Group-13.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
   
}
.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding: 100px 200px 20px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 200px 40px;
}

.btn {
    display: inline-flex;
    width: 70vw;
    padding: 16px;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    margin-bottom: 100px;
    background: rgba(255, 255, 255, 0.30);
    
}


.banner-input {
    padding: 16px 40px 16px 16px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 25%;
    
}
#banner-input{
    padding: 16px 40px 16px 16px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 25%;

}


.search {
    padding: 16px 16px 16px 40px;
    width: 25%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-weight: 700;
    margin: 10px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    position: relative;
}
.fa-solid {
    position: absolute;
    top: 18px;
    left: 35px;
    
}


/* banner style end */



/* responsive style */

@media screen and (max-width: 600px) {
    /* header responsive */
    .container {
        flex-direction: column;

    }

    .header-logo {
        justify-content: center;
    }
    .header-menu ul li a{
        margin-right: 15px;
    }


    /* banner responsive */
    .banner-container {
        width: 90vw;
    }
    .banner-title {
        padding: 20px 40px;
        font-size: 22px;
    }
    .banner-description {
        padding: 0px 15px 30px;
    }
    .btn {
        display: flex;
        width: 70vw;
        padding: 16px;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .btn-container{
        padding: 30px;
    }
    .search{
        position: relative;
    }
    .fa-solid {
        position: absolute;
        top: 18px;
        left: 157px;
        
    }
    .banner-input, .search, #banner-input {
        width: 100%;
    }
   

}